.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
}

#photoCarousel {
    .carousel {
        &-item {
            max-height: 600px;
            overflow: hidden;
            background: url("../images/bg/carousel-cement.png") center no-repeat;
            background-size: cover;
        }

        &-photo {
            width: 100%;
        }
        &-control {
            width: 50px;
            height: 50px;
            margin: auto;
            cursor: pointer;
            background-repeat: no-repeat;
            background-size: contain;
            opacity: .8;
            background-color: $gray-light;
            &-prev {
                background-image: url("../images/icons/arrow-l.svg");
            }
            &-next {
                background-image: url("../images/icons/arrow-r.svg");
            }
        }
    }
}

.projectCarousel {
    padding: 1px 0 70px 0;
    background-color: $gray-dark;
    .carousel {
        position: relative;
    }
    .carousel {
        &-inner {
            display: block;
            margin: 0 auto 70px auto;
        }
        &-controls {
            position: absolute;
            top: -70px;
            right: 30px;
            display: flex;
            width: 70px;

            justify-content: space-between;
        }
        &-control {
            position: static;
            width: 30px;
            height: 30px;
            margin: 0;
            cursor: pointer;
            background: $gray no-repeat;
            background-size: contain;
            opacity: .8;
            box-shadow: 2px 2px 11px 0 darken($gray-dark,20);
            transition: 70ms;
            &:hover {
                box-shadow: 2px 2px 11px 0 darken($gray-dark,10);
                background-color: darken($gray,5);
            }

            &:active {
                box-shadow: 2px 2px 11px 0 $gray-dark;
                background-color: darken($gray,10);
            }
            &-prev {
                background-image: url("../images/icons/arrow-l.svg");
            }
            &-next {
                background-image: url("../images/icons/arrow-r.svg");
            }
        }
    }
    @media (max-width: map-get($grid-breakpoints, md)) {
        .carousel-controls {
            top: auto;
            right: 0;
            bottom: -70px;
            left: 0;
            width: 130px;
            margin: auto;
        }

        .carousel-control {
            width: 60px;
            height: 60px;
        }
    }
}
