.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
}

#photoCarousel {
    .carousel {
        &-item {
            height: 390px;
            overflow: hidden;
            background-size: cover;
        }

        &-img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            @media (max-width: map-get($grid-breakpoints, md)) {
                width: auto;
            }
        }

        &-header {
            font-size: 48px;
        }

        &-text {
            font-size: 18px;
        }
        &-control {
            width: 50px;
            height: 50px;
            margin: auto;
            cursor: pointer;
            background-repeat: no-repeat;
            background-size: contain;
            opacity: .8;
            background-color: $gray-light;
            &-prev {
                background-image: url("../images/icons/arrow-l.svg");
            }
            &-next {
                background-image: url("../images/icons/arrow-r.svg");
            }
            @media (max-width: map-get($grid-breakpoints, md)) {
                bottom: auto;
                top: 15px;
            }
        }
    }
}

.projectCarousel {
    padding: 1px 0 70px 0;
    background-color: $gray-dark;
    .carousel {
        position: relative;
    }
    .carousel {
        &-inner {
            display: block;
            margin: 0 auto 70px auto;
        }

        &-img {
            display: flex;
            justify-content: center;
            position: relative;
            img {
                max-width: 100%;
            }
            &:hover::after {
                top: 0;
            }
            &::after {
                content: attr(data-title);
                position: absolute;
                top: -100%;
                left: 0;
                display: flex;
                width: 100%;
                height: 100%;
                background-color: rgba(98, 98, 98, .5);
                transition: .35s;

                align-items: center;
                justify-content: center;

                padding: 0 25%;
                font-size: 24px;
                color: #fff;
                text-align: center;
                text-transform: uppercase;
            }
        }

        &-controls {
            position: absolute;
            top: -70px;
            right: 30px;
            display: flex;
            width: 70px;

            justify-content: space-between;
        }
        &-control {
            position: static;
            width: 30px;
            height: 30px;
            margin: 0;
            cursor: pointer;
            background: $gray no-repeat;
            background-size: contain;
            opacity: .8;
            box-shadow: 2px 2px 11px 0 darken($gray-dark,20);
            transition: 70ms;
            &:hover {
                box-shadow: 2px 2px 11px 0 darken($gray-dark,10);
                background-color: darken($gray,5);
            }

            &:active {
                box-shadow: 2px 2px 11px 0 $gray-dark;
                background-color: darken($gray,10);
            }
            &-prev {
                background-image: url("../images/icons/arrow-l.svg");
            }
            &-next {
                background-image: url("../images/icons/arrow-r.svg");
            }
        }
    }
    @media (max-width: map-get($grid-breakpoints, md)) {
        .carousel-controls {
            top: auto;
            right: 0;
            bottom: -70px;
            left: 0;
            width: 130px;
            margin: auto;
        }

        .carousel-control {
            width: 60px;
            height: 60px;
        }
    }
}

