.lang {
    display: flex;
    height: 65px;
    text-transform: uppercase;
    background-color: $orange;

    align-items: center;
    justify-content: center;
    &-item {
        margin: 4px;

        &:hover {
            color: inherit;
        }
        &_active {
            color: $white;

            &:hover {
                color: $gray-text;
            }
        }
    }
}