.navBar {
    position: absolute;
    right: 0;
    bottom: -30px;
    left: 0;
    z-index: 1;
    font-size: 14px;
    background-color: $gray-dark;
    .menu {
        display: flex;
        &-item {
            position: relative;
            display: flex;
            height: 65px;
            margin: 0 20px;
            color: $white;
            text-transform: uppercase;

            align-items: center;

            &:hover {
                .menu_sub {
                    opacity: 1;
                    pointer-events: auto;
                    height: 100%;
                }
            }
        }

        &-url {
            line-height: 65px;
            vertical-align: middle;
            cursor: pointer;
        }
        &_sub {
            position: absolute;
            display: block;
            top: 100%;
            left: 50%;
            opacity: 0;
            pointer-events: none;
            transform: translate(-50%, 0);
            transition: .2s;
            &-item {
                width: 200px;
                padding: 20px 30px;
                margin-bottom: 1px;
                color: $gray-text;
                text-align: center;
                background-color: $white;
            }
        }
    }
}

.navBarTop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100vw;
    height: 0;
    overflow: hidden;
    background-color: black;
    transition: height 1s;
    &.show {
        height: 100vh;
    }
}
