h2.page-header {
    position: relative;
    margin: 65px 0 40px 0;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;

    &::before {
        position: absolute;
        right: 0;
        bottom: -10px;
        left: 0;
        display: block;
        width: 75px;
        height: 3px;
        margin: auto;
        background-color: $orange;
        content: "";
    }

    &_white {
        color: $white;
    }
    @media (max-width: map-get($grid-breakpoints, lg)) {
        margin-top: 20px;
    }
}

body.home h2.page-header {
    @media (max-width: map-get($grid-breakpoints, lg)) {
        margin-top: 65px;
    }
}

