.services {
    margin-bottom: 100px;

    &-item {
        background-color: $white;
        display: block;
        box-shadow: 3px 3px 11px -5px rgba(0,0,0,0.75);
        transition: 0.2s;
        &:hover {
            color:inherit;
            box-shadow: 3px 3px 11px -5px rgba(0,0,0,0.45);
            .services-icon  {
                transform: scale(1.1);
            }
        }

        &:active {
            transition: 0s;
            box-shadow: 3px 3px 11px -5px rgba(0,0,0,0.1);
        }
    }
    &-photo {
        width: 100%;
    }

    &-iconContainer {
        position: relative;
        margin-bottom: 80px;
    }
    &-icon {
        position: absolute;
        right: 0;
        bottom: -40px;
        left: 0;
        width: 80px;
        height: 80px;
        margin: auto;
        background: url("../images/icons/serv-iconBar.svg") $orange 17px 17px no-repeat;
        background-size: 202px 46px;
        border-radius: 50%;
        box-shadow: 0 9px 40px -12px rgba(0, 0, 0, .75);
        transition: 0.5s;
        &_1 {
            background-position: -65px 17px;
        }
        &_3 {
            background-position: -137px 17px;
        }
    }

    &-header {
        position: relative;
        height: 90px;
        font-size: 22px;
        line-height: 1;

        text-align: center;
        &::before {
            position: absolute;
            right: 0;
            bottom: 30px;
            left: 0;
            display: block;
            width: 40px;
            height: 3px;
            margin: auto;
            background-color: $orange;
            content: "";
        }
    }

    &-text {
        padding: 0 10% 40px 10%;
        text-align: center;
    }
}